h1 {
    color: red;
}
h2 {
    color: rgba(29, 217, 29, 0.848);
}
p {
    color: burlywood;
}
button{
    color: royalblue;
    background-color: rgb(50, 158, 168);
}
body {
    background-color:#a3b18a}

